.account_main_div{
    .account_welcome_title{
        text-align: center;
        font-size: 35px;
        background: linear-gradient(135deg, white, rgb(142, 255, 255));
        background-clip: text;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        user-select: none;
    }
}